.loading{
      background: linear-gradient(to right top, $linear-dark, $linear-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text{
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        color: rgba($light-text, 0.4);
    }
}