html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.app {
  width: 100vw;
  height: 100vh;
}

.error__input-blank {
  position: relative;
}

.error__input-blank::after {
  position: absolute;
  content: "Whoops, This can't be blank";
  display: block;
  bottom: -1rem;
  right: 0;
  font-size: 0.55rem;
  color: lightcoral;
  -webkit-animation: gentle-Jiggle 0.5s;
          animation: gentle-Jiggle 0.5s;
}

.error__input-blank > input {
  border-bottom: 3px solid lightcoral;
}

.error__confirm-password-mismatch {
  position: relative;
}

.error__confirm-password-mismatch::after {
  position: absolute;
  content: "Passwords do not match.";
  display: block;
  bottom: -1rem;
  right: 0;
  font-size: 0.55rem;
  color: lightcoral;
}

.error__confirm-password-mismatch > input {
  border-bottom: 3px solid lightcoral;
}

.error__invalid-user-login {
  position: relative;
}

.error__invalid-user-login::after {
  position: absolute;
  content: "Hmm, that password and email combination didn't work.";
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  width: 320px;
  right: calc(50% - 160px);
  bottom: 3rem;
  font-size: 0.6rem;
  color: lightcoral;
}

@-webkit-keyframes gentle-Jiggle {
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  75% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes gentle-Jiggle {
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  75% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.loading {
  background: -webkit-gradient(linear, left bottom, right top, from(#364846), to(#526C69));
  background: linear-gradient(to right top, #364846, #526C69);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading__text {
  font-size: 1rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.4);
}

.welcome-screen {
  background: -webkit-gradient(linear, left bottom, right top, from(#364846), to(#526C69));
  background: linear-gradient(to right top, #364846, #526C69);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-screen__heading {
  margin: 0 auto;
}

.welcome-screen__user-onboarding {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-screen__onboarding-action {
  max-width: 600px;
  margin: 1rem 0 0 0;
  width: 65%;
  height: 3.5rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(20, 35, 34, 0.7);
}

.welcome-screen__onboarding-action--small-text {
  font-size: 1.2rem;
}

.welcome-screen__default-form {
  padding: 2rem 1rem 5rem 1rem;
  background-color: rgba(20, 35, 34, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
}

.welcome-screen__small-logo {
  height: 70px;
  margin-bottom: 2rem;
}

.welcome-screen__default-label {
  width: 100%;
  max-width: 600px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(250, 250, 250, 0.95);
}

.welcome-screen__default-input {
  width: 100%;
  margin-top: 1rem;
  height: 3rem;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #92B7AF;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: #92B7AF;
}

.welcome-screen__default-submit {
  max-width: 600px;
  width: 100%;
  margin-top: 1rem;
  height: 3rem;
  border: 3px solid #92B7AF;
  border-radius: 0;
  background: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
}

.welcome-screen__user-message {
  color: #FFFFFF;
  border-bottom: 3px solid #92B7AF;
  padding-bottom: 0.3rem;
}
/*# sourceMappingURL=main.css.map */